*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  body {
    display: flex;
    font-family: sans-serif;
    background: #3CB371;
    justify-content: center;
  }
  .column {
    background: white;
    margin: 10px;
  }
  .left {
    display: flex;
    width: 70% 0;
    flex-direction: column;
  }
h2 {
    margin: 15px;
}
.bottom {
    margin-top: 15%;
    color: #666666;
}
p {
    color: #666666;
    margin: 15px;
}
a {
    float: right;
    text-decoration: none;
    color: #666666;
}
  .row {
      display: flex;
      margin: 15px 16%;
  }
  @media screen and (max-width: 1150px) {
    .row {
        margin: 0 15px;
        flex-direction: column;
    }
    .right {
        width: 100%;
    }
    .right .container {
        padding: 1px 0;
        
    }
  }
  @media screen and (min-width: 1149px) {
    .right {
        display: inline-flex;
        flex-wrap: wrap;
        width: 50%;
    }
    .left {
        width: 100%;
    }
  }