*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  body {
    display: flex;
    font-family: sans-serif;
    background: #3CB371;
    justify-content: center;
  }
  .column {
    background: white;
    margin: 10px;
  }
  .left {
    display: flex;
    flex-direction: column;
  }
  .right {
    display: flex;
    width: 71%;
    flex-direction: column;
  }
h2 {
    margin: 15px;
}
.bottom {
    margin-top: 15%;
    color: #666666;
}
p {
    color: #666666;
    margin: 15px;
}
a {
    float: right;
    text-decoration: none;
    color: #666666;
}
  .row {
      display: flex;
      width: 70%;
  }